@media only screen and (max-width: 600px) {
	.container {
		background-image: url("../../medias/bck.jpg"); /* Chemin relatif au fichier CSS */
		background-size: cover; /* L'image couvre tout le conteneur */
		background-position: center; /* Centre l'image */
		background-repeat: no-repeat; /* Évite la répétition de l'image */
		min-height: 100vh; /* Hauteur minimale pour couvrir la fenêtre */
		padding: 2%;
		box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8); /* Assure une bonne lisibilité avec un fondu noir */
	  }
	  

	h1{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
	}
	.ul2{
		color: #dedede;
		font-size: 10px;
		margin-left: 13px;
	}
	.container p {
		font-size: 20px;
		text-align: center;
	}
	.col {
	  width: 23%;
	  margin: 105px 5%;
	  position: relative;
	  float: left;
	  font-size: 12px;
	  line-height: 2em;
	  padding: 1% 0;
	} 
	.col2 {
		width: 23%;
	  margin: 0 5%;
	  position: relative;
	  float: left;
	  font-size: 12px;
	  line-height: 2em;
	  margin-top: -5%;
	} 
	.col2 ul {
		font-size: 5px;
	}
	.titre {
		font-size: 2.2em;
		font-weight: normal;
		padding: 10px 0 16px 0;
		margin: 0 0 30px;
		text-align: center;
		color: #ffffff;
		text-shadow: 1px 1px 5px #000, 0 0 10px #5f43b2, 0 0 20px #5f43b2;
		border-radius: 2px;
		border: 1px solid #5f43b2;
		box-shadow: 0px 0px 50px -8px #5f43b2;
	  }
	h3{
		color: white;
		text-align: center;
		font-size: 15px;
	}
	.skill li { 
		margin-bottom:40px; 
		background:#030303; 
		height:6px; 
		border-radius:3px; 
		border-left:1px solid #111; 
		border-top:1px solid #111; 
		border-right:1px solid #333; 
		border-bottom:1px solid #333;  
	}
	
	.skill li em { 
		position:relative; 
	  font-style: normal;
	  font-size: 10px;
	  text-align: center;
	  color:#dedede;
		top:-28px;
	}
		/*skill*/
.javascript        { width:70%;  animation:javascript 2s ease-out;       }
.react        { width:70%;  animation:react 2s ease-out;        }
.csharp         { width:60%;  animation:csharp 2s ease-out;        }
.cplus  { width:60%;  animation:cplus 2s ease-out; }
.php      { width:60%;  animation:php 2s ease-out;     }
.html      { width:60%;  animation:html 2s ease-out;     }
.css     { width:60%;  animation:css 2s ease-out;     }
.sql      { width:60%;  animation:sql 2s ease-out;     }
.java      { width:70%;  animation:java 2s ease-out;     }
.Asp     { width:50%;  animation:Asp 2s ease-out;     }


/*outil*/
.win10    { width:90%;  animation:win10 2s ease-out;  }
.powershell  { width:70%;  animation:powershell 2s ease-out; }
.linux  { width:60%;  animation:linux 2s ease-out;     }
.visual     { width:80%;  animation:visual 2s ease-out;    }
.git      { width:70%;  animation:git 2s ease-out;     }
.ps      { width:80%;  animation:ps 2s ease-out;     }


/*passion*/
.informatique { width:90%;  animation:informatique 2s ease-out;}
.astronomie { width:80%;  animation:astronomie 2s ease-out;}
.science   { width:70%;  animation:science 2s ease-out;  }
	
}
@media only screen and (min-width:601px) {
	h1{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
	}
	.ul2{
		color: #dedede;
		font-size: 20px;
		margin-left: 4%;
	}
	.container p {
		font-size: 30px;
		
		text-align: center;
	
	}
	.col {
		width: 23%;
	  margin: 0 5%;
	  position: relative;
	  float: left;
	  font-size: 12px;
	  line-height: 2em;
	  padding: 5% 0;
	} 
	.col2 {
		width: 23%;
	  margin: 0 5%;
	  position: relative;
	  float: left;
	  font-size: 12px;
	  line-height: 2em;
	  margin-top: -5%;
	} 
	/*skill*/
	.servicenow      { width:90%;  animation:servicenow  3s ease-out;     }
	.javascript        { width:85%;  animation:javascript 3s ease-out;       }
	.react        { width:70%;  animation:react 3s ease-out;        }
	.node        { width:70%;  animation:node 3s ease-out;        }
	.html      { width:60%;  animation:html 3s ease-out;     }
	.css     { width:60%;  animation:css 3s ease-out;     }
	.sql      { width:60%;  animation:sql 3s ease-out;     }


/*outil*/
.win10    { width:90%;  animation:win10 3s ease-out;  }
.powershell  { width:70%;  animation:powershell 3s ease-out; }
.linux  { width:60%;  animation:linux 3s ease-out;     }
.visual     { width:80%;  animation:visual 3s ease-out;    }
.git      { width:70%;  animation:git 3s ease-out;     }
.ps      { width:80%;  animation:ps 3s ease-out;     }


/*passion*/
.informatique { width:90%;  animation:informatique 3s ease-out;}
.astronomie { width:80%;  animation:astronomie 3s ease-out;}
.science   { width:70%;  animation:science 3s ease-out;  }
	.container {
		
		height: 1140px;
		
		
		z-index: 1;
		background-image: url("../../medias/bck.jpg"); /* Chemin relatif au fichier CSS */
		background-size: cover; /* L'image couvre tout le conteneur */
		background-position: center; /* Centre l'image */
		background-repeat: no-repeat; /* Évite la répétition de l'image */
		min-height: 100vh; /* Hauteur minimale pour couvrir la fenêtre */
		padding: 2%;
		box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
		
	}
	.titre {
		font-size: 2.2em;
	  font-weight: normal;
		padding: 10px 0 16px 0;
	  margin: 0 0 30px;
		text-align:center;
		color:#ffffff;
	  
	  background:#000000;
		border-radius:2px;
		border: 1px solid #5f43b2;  
	
	}
	h3{
		color: white;
		text-align: center;
		font-size: 26px;
		margin-top: -70px;
	}
	.skill li { 
		margin-bottom:60px; 
		background:#030303; 
		height:6px; 
		border-radius:3px; 
		border-left:1px solid #111; 
		border-top:1px solid #111; 
		border-right:1px solid #333; 
		border-bottom:1px solid #333;  
	}
	
	.skill li em { 
		position:relative; 
	  font-style: normal;
	  font-size: 18px;
	  text-align: center;
	  color:#dedede;
		top:-28px;
	}
}

.skill { 
	list-style:none; 
	padding-top:30px;
}

.purpleline { 
	height: 3px; 
	margin: 2px 0; 
	background: #5f43b2; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px #5f43b2;
}

.titre      { opacity:1;  animation:titre 5s ease-out;     }

@keyframes titre      { 0% { opacity:0; } 100% { opacity:1; }  }

/*skill*/
@keyframes servicenow        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes javascript        { 0% { width:0px; } 100% { width: 85%; }  }
@keyframes react         { 0% { width:0px; } 100% { width:70%; }  }
@keyframes node { 0% { width:0px; } 100% { width:70%; }  }
@keyframes php      { 0% { width:0px; } 100% { width:60%; }  }
@keyframes html      { 0% { width:0px; } 100% { width:60%; }  }
@keyframes css     { 0% { width:0px; } 100% { width:60%; }  }
@keyframes sql      { 0% { width:0px; } 100% { width:60%; }  }
@keyframes java      { 0% { width:0px; } 100% { width:70%; }  }
@keyframes Asp      { 0% { width:0px; } 100% { width:50%; }  }

/*outil*/
@keyframes win10   { 0% { width:0px; } 100% { width:90%; }  }
@keyframes powershell  { 0% { width:0px; } 100% { width:70%; }  }
@keyframes linux      { 0% { width:0px; } 100% { width:60%; }  }
@keyframes visual     { 0% { width:0px; } 100% { width:80%; }  }
@keyframes git      { 0% { width:0px; } 100% { width:70%; }  }
@keyframes ps      { 0% { width:0px; } 100% { width:80%; }  }

/*passion*/
@keyframes informatique { 0% { width:0px; } 100% { width:90%; }  }
@keyframes astronomie { 0% { width:0px; } 100% { width:80%; }  }
@keyframes science   { 0% { width:0px; } 100% { width:70%; }  }


body{
	background-color: #000000;
}


p{
  
  color: #5f43b2;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: -50px;
  

}